flask
flask-sqlalchemy
flask-migrate
flask-login
flask-mail
flask-wtf
python-dotenv
bcrypt
pandas
prophet
scikit-learn
openpyxl
numpy
opencv-python-headless
pytesseract
python-dateutil
itsdangerous
pyodbc
gunicorn